 <!-- Footer -->
 <footer>
    <p>&copy; 2023 Shijox. All Rights Reserved.</p>
    <div class="social-icons">
        <a href="#" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</body>
</html>